@keyframes Slide_Up{
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

body {
    font-family: Orpheus;
    background: hsla(230, 77%, 78%, .5);
    background: radial-gradient(circle, hsla(230, 77%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 62%);
    background: -moz-radial-gradient(circle, hsla(230, 77%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 62%);
    background: -webkit-radial-gradient(circle, hsla(230, 77%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 62%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BA9F2", endColorstr="#FFFFFF", GradientType=1 );
}

h2 {
    font-family: 'Trade Gothic LT Std', sans-serif;
    font-weight: bold;
    font-size: 35px;
    
    margin-top: 2vw;
    text-align: left;
    color: #9ba7f2;
}

/***** FOOTER *****/
footer {
    background: white;
    display: flex;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 13.5px;
    margin-left: 1vw;
}

.footer-text-2 {
    font-size: 13.5px;
    margin-left: auto;
}

/***** SOCIAL MEDIA ICONS *****/
.menu li { 
    margin-right: 0;
    list-style: none;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: flex;
}

.menu a{
    margin-right: 2vw;
}
  
.menu .fa {
    font-size: 16px;
    color: black;
    
}
  
.menu .fa:hover {
    color: #F2DDA6;
    transition: color 0.3s ease-in;
}  

/***** SIDENAV *****/
.sidenav {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
    font-family: "Orpheus";
    display: block;
}

.sidenav .grow {
    font-size: 2vw;
}

.sidenav .grow:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    max-width: 60vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 15vw;
}

.hero img {
    height: 13vw;
    width: 13vw;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.bio {
    width: 60vw;
    padding: 0.625vw;
    border-radius: 6vw;
    box-shadow: 0vw 2px 15px 2px var(--primary-shadow);
}

.bio p{
    line-height: var(--line-height);
    padding: 0.3vw 0;
    text-align: left; 
    font-family: "Orpheus";
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    flex-direction: row;
}

.container-one {
    display: flex;
    justify-content: center;
    position: relative;
    width: 60.5%;
    margin: 1vw;
    animation: Slide_Up 1.5s ease;
}

.container-two {
    display: flex;
    justify-content: center;
    position: relative;
    width: 29.2%;
    margin: 1vw;
    animation: Slide_Up 1.5s ease;
}

.mockup {
    opacity: 1;
    display: block;
    width: 100%; 
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 0.5vw;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
}

.container-one:hover .mockup {
    opacity: 0.3;
}

.container-one:hover .middle {
    opacity: 1;
}

.container-two:hover .mockup {
    opacity: 0.3;
}

.container-two:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 2vw;
    font-weight: bold;
    white-space: nowrap;
}

.text-2 {
    color: black;
    font-size: 1.25vw;
    padding-left: 10px;
    padding-top: 5px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/***** Hidden hamburger menu *****/
nav {
    display: none;
}

nav input {
    display: none;
}

nav label {
    display: none;
}

#menu-icon,
#menu-icon:before,
#menu-icon:after {
    display: none;
}

#menu-icon {
    display: none;
}

nav label #menu-icon {
    display: none;
}

#menu-icon:before,
#menu-icon:after {
    display: none;
}

#menu-icon:before {
    display: none;
}

#menu-icon:after {
    display: none;
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    display: none;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
    display: none;
}

nav input[type=checkbox]:checked + label #menu-icon:after {
    display: none;
}

nav input:checked ~ #overlay {
    display: none;
}

nav ul {
    display: none;
}

nav input:checked ~ ul {
    display: none;
}

nav ul > li {
    display: none;
}

nav ul a {
    display: none;
}


/* Mobile media queries */
@media (max-width: 988px){
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        max-width: 80vw;
    
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vw;
        margin-bottom: 5vw;
        height: 15vw;
    }

    .hero img {
        height: 125px;
        width: 125px;
        opacity: .8;
    
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;

        position: absolute;
        z-index: -1;
    }

    .container-one {
        display: flex;
        justify-content: center;
        position: relative;
        width: 80vw;
        height: 56vw; 
        margin: 2vw;
    }

    .container-one .mockup {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .container-two {
        display: flex;
        justify-content: center;
        position: relative;
        width: 80vw;
        margin: 2vw;
    }

    /***** HAMBURGER MENU *****/
    nav {
        display: block;
        color: #1d1f20;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    /*** INPUT ***/
    nav input {
        display: block;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    /*** LABEL ***/
    nav label {
        display: block;
        cursor: pointer;
        display: block;
        font: 2em/1 'Oswald', sans-serif;
        padding: 0.5em;
    }*

    /* Hamburger Icon */
    #menu-icon,
    #menu-icon:before,
    #menu-icon:after {
        display: block;
        background: #9ba7f2;
        border-radius: 0.05em;
        height: 0.2em;
        transition: all 0.2s ease-in-out;
        width: 100%;
    }

    #menu-icon {
        display: block;
        display: inline-block;
        margin: 1em 0;

        max-width: 1em;
        position: relative;
    }

    nav label #menu-icon {
        display: block;
        float: right;
    }

    #menu-icon:before,
    #menu-icon:after {
        display: block;
        content: '';
        left: 0;
        position: absolute;
    }

    #menu-icon:before {
        display: block;
        top: -0.4em;
    }

    #menu-icon:after {
        display: block;
        bottom: -0.4em;
    }

    /* Close Icon */
    nav input[type=checkbox]:checked + label #menu-icon {
        display: block;
        background: transparent;
    }

    nav input[type=checkbox]:checked + label #menu-icon:before {
        display: block;
        top: 0;
        transform: rotate(-45deg);
    }

    nav input[type=checkbox]:checked + label #menu-icon:after {
        display: block;
        bottom: 0;
        transform: rotate(45deg);
    }

    /*** MENU ***/
    /* Overlay */
    nav input:checked ~ #overlay {
        display: block;
        background: white;
        bottom: 0;
        left: 0;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        z-index: -1;
    }

    /* List */
    nav ul {
        display: block;
        text-align: center;
        font-size: 32px;
        list-style: none;
        margin: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;

        position: fixed;
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);

    }

    nav input:checked ~ ul {
        display: block;
        margin: 1em;
        max-height: inherit;
        opacity: 1;
    }

    nav ul > li {
        display: block;
        margin: 0.5em 0;
    }

    nav ul a {
        display: block;
        color: black!important;
        text-decoration: none;
    }

    .sidenav {
        display: none;
    }

    .bio p{
        line-height: var(--line-height);
        padding: 0.3vw 0;
        text-align: left; 
        font-family: "Orpheus";
        font-size: 18px;
        text-align: center;
    }

    h2 {
        font-family: 'Trade Gothic LT Std', sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-top: 2vw;
        text-align: center;
        color: #9ba7f2;
    }

    .text {
        color: black;
        font-size: 25px;
        font-weight: bold;
        white-space: nowrap;
    }
    
    .text-2 {
        color: black;
        font-size: 15px;
        padding-left: 10px;
        padding-top: 5px;
    }
}
